@media screen and (min-width:650px) {
    .container{
        margin-top: 20px;
    }

    #l_title{
        font-size: 20px;
    }

    .login_data{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .login_data > input{
        height: 45px;
    }

   
}